<h3 class="title">Payment Methods</h3>
<div class="container">
    <!-- Left Panel -->
    <div class="left">
                
        <nz-tabs>
            <nz-tab nzTitle="Cards" >
                <app-cards></app-cards>
            </nz-tab>

            <nz-tab nzTitle="UPI" >
               <app-upi></app-upi>
            </nz-tab>

            <nz-tab nzTitle="Banks">
                <p>Bank transfer options coming soon...</p>
            </nz-tab>
        </nz-tabs>
    </div>
   <app-summary-card></app-summary-card>
    
</div>